# Ignore Python virtual environments
venv/
env/
__pycache__/
*.pyc

# Ignore Django static and media files
staticfiles/
media/

# Ignore compiled bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore node_modules (if using Node.js for frontend)
node_modules/
